
.logo-post-permalink-link-color-cls-id-1 {
    
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.logo-post-permalink-link-color-cls-id-1 {
    display: flex;
    align-items: center;
    flex-direction: row;

    
}
