// Font Family
$kiwi_font: 'Kiwi Maru', serif;
$heading_font: 'Train One', cursive;


// Colors ---------------
$white: #ffffff;
$black: #333333;
$grey: #f6f5ff;
$theme-color: #f26957;
$body-text-color: #6e7797;
$hr-border-color:#eceff8;


// Heading Color
$heading-color: #292f3b;
$heading02-color: #000000;


// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

