.singel-feature-item{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 20px 40px 0px rgba(221, 231, 238, 0.004);
    width: 250px;
    height: 250px;
    transition: 5s all ease-in-out;
    
    @media #{$lg}{
        width: 215px;
    }
    @media #{$md}{
        width: 170px;
        height: 230px;
    }

    

    .last_img{
        display: none;
    }
    h6{
        margin: 0;
        margin-top: 20px;
    }
    &:hover{
        background:linear-gradient( -125deg, rgb(124,209,245) 0%, rgb(28,128,223) 100%);
        background-image: -webkit-linear-gradient( -125deg, rgb(124,209,245) 0%, rgb(28,128,223) 100%);
        background-image: -ms-linear-gradient( -125deg, rgb(124,209,245) 0%, rgb(28,128,223) 100%);
       
    }

    &:hover h6{
        color: #FFF;
    }
    &:hover  .first_img{
        display: none;
    }
    &:hover  .last_img{
        display: inline-block;
    }
}

  