// header
.sticky{
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 9999;
    right: 0;
    left: 0;
    width: 100%;
    transition: .4s;
    box-shadow: 0 0 5px 0;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
}
.header-wrapper{
    background-color: #fff;
    transition: 0.3s;
    .logo{

     margin-left: 100px;
        @media #{$laptop}{
            margin:  0;
        }
        @media #{$lg}{
            margin:  0;
        }
        @media #{$md}{
            margin: 29px 0 19px 0;
        }
        @media #{$xs}{
            margin: 29px 0 19px 0;
        }
    }
    .main-menu{
        margin-left: 90px;
        nav{
            ul{
                li{
                    display: inline-block;
                    a{
                        display: block;
                        padding: 10px 10px;
                        margin: 0 6px;
                        border-bottom: 2px solid #fff;
                        font-weight: bold;
                        .active{
                            color: #6bb9f7;
                        }
                        &:hover{
                            border-bottom: 2px solid #6bb9f7;
                        }
                    }
                    
                }
            }
        }
    }
    .header-btn{
        margin-top: 20px;
        @media #{$lg}{
           display: none;
        }
        @media #{$md}{
            display: none;;
        }
        @media #{$xs}{
            display: none;
        }
    }
}
