.singel-testimonial{
    margin:0 30px;
    .singel-testimonail-img {
        width: 307px;
        margin-right: 20px;
    }
     .singel-testimonail-content{
   
        p{
            font-size: 16px;
            line-height: 2;
            i{
                font-size: 22px;
                margin:0 15px;
              
            }
        }
        h6{
            font-style: 12px;
            color: #292f3b;
             span{
font-size: 16px;
color: #b2b6bb;
display: block;
margin-top: 15px;
            }
        }
        
    }
}